h1 {
    text-align: center;
    color: rgb(209, 57, 153);
    text-decoration: underline;
    margin: 20px 0px;
}

h2 {
    text-transform: uppercase;
}

footer p {
    font-size: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 208, 208);
    font-family: Arial, sans-serif;
}
header {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

.Logo {
    max-width: 100%;
    height: auto; 
}
nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(43, 83, 187);
}
main {
    margin: 20px;
    padding: 20px;
}

.imgproductos {
    max-width: 100%; 
    height: auto;
}
footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        padding: 5px;
    }

    nav li {
        margin: 0 5px;
    }

   
    .imgproductos {
        width: 100%; 
}
input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.bformulario {
    background-color: #333;
    color: antiquewhite;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.puntodeentrega {
    text-transform: uppercase;
    text-align: center;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.novedades {
    text-transform: uppercase;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}
.intro {
    text-decoration: dashed;
    text-transform: uppercase;
    margin: 1%;
}
.titulo {
    text-transform: uppercase;
    text-align: center;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}
.contenedor {
    text-align: center;
}
.text {
    color: black;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
}
.imgdestacados {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    flex-direction: row;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pngdestacado {
    flex: 1 0 200px;
    margin: 10px;
    text-align: center;
}
.imgdestacado {
    width: 100%;
    height: auto;
}
.productos {
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.whatsapp-container {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s ease-in-out;
}
.whatsapp {
    width: 100px;
}
.show-whatsapp {
    display: block;
    transform: translateY(0);
}
.hide-whatsapp {
    transform: translateY(100px); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 208, 208);
    font-family: Arial, sans-serif;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header {
        padding: 5px;
    }

    nav li {
        margin: 0 5px;
    }

    .imgproductos {
        width: 100%;
    }

    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .bformulario,
    .puntodeentrega,
    .novedades {
        font-size: 16px;
    }
    
    .whatsapp-container {
        display: block;
    }
}